.button-group {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 10fr;
    margin-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.title {
    text-align: center;
}